* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

/* Common */

a  {
    color: white;
    text-decoration: none;
}

/* h1 {

} */

.container {
    max-width: 960px;
    margin: auto;
}

.text-primary {
    color: #f7c08a;
}

.btn {
    font-size: 18px;
    background: #333;
    padding: 15px 20px;
    border-radius: 5px;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.clr {
    clear: both;
}

.lbl-fn{
    display: block;
}
.lbl-email{
    display: block;
}
textarea{
    width: 100%;
}

.form-group{
    margin-left: 23%;
    width: 58%;
}

.contacts h1{
    color: #f7c08a; 
}

/* Navigation */
#navbar {
    background-color: #333;
    color: #fff;
    height: 40px;
    padding-top: 5px;
    /* overflow: auto; */
}

#navbar h1 {
    float: left;
    padding-left: 20px;
}

#navbar ul {
    float: right;
    list-style: none;    
}

#navbar ul li {
    float: left;
}

#navbar ul a  {
    padding: 20px;
}

#navbar ul a:hover {
    text-decoration: underline;
    color: #f7c08a;
}

/* Features */
#features-cont {
    text-align: center;

}

.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    color: white;
    background-color: #333;
}

.box i {
    font-size: 50px;
}